{% extends "base.html" %}
{% block title %}Pickup Finder - Games{% endblock %}
{% block content %}


{% for user_game in user_games %}
<form class="row g-3" method="POST">
    <div class="col-12">
      <label for="gameName" class="form-label">Name</label>
      <input type="text" class="form-control" id="gameName" name="gameName" placeholder="Name your game so others can find it" required aria-label="Disabled input name" value="{{ user_game.name }}" disabled readonly>
    </div>
    <div class="col-md-6">
      <label for="sportSelect" class="form-label">Sport Type</label>
      <select class="form-select" name="sportSelect" aria-label="Default select example" required>
        <option selected>Pick your sport</option>
        <option value="basketball">Basketball</option>
        <option value="soccer">Soccer</option>
      </select>
    </div>
    <div class = "col-md-6">
      <label for="currNumPeople" class="form-label">Current Number of People</label>
      <input type="text" class="form-control" id="currNumPeople" name="currNumPeople" placeholder="How many people you have?" value="{{ user_game.initial_number_people }}" required>
    </div>
    <div class = "col-md-6">
      <label for="totalNumPeople" class="form-label">Total Number of People</label>
      <input type="text" class="form-control" id="totalNumPeople" name="totalNumPeople" placeholder="How many people total do you want?" value="{{ user_game.total_number_people }}" required>
    </div>
    <div class="col-12">
      <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="makePublic" name="makePublic">
          <label class="form-check-label" for="flexSwitchCheckChecked">Make public</label>
          </div>
    </div>
    <div class="col-md-6">
      <label for="lat" class="form-label">Latitude</label>
      <input type="text" class="form-control" id="lat" name="lat" placeholder="Input latitude or use your current location" required>
    </div>
    <div class="col-md-6">
      <label for="lng" class="form-label">Longitude</label>
      <input type="text" class="form-control" id="lng" name="lng" placeholder="Input longitude or use your current location" required>
    </div>
    <div class="col-md-6">
        <label class="form-label">Date/Time</label>
        <input type="datetime-local" class="form-control" id="dateTime" name="dateTime">
    </div>
    <div class="col-12">
      <button type="button" class = "btn btn-primary" id="getCurrentLocationBtn" name="getCurrentLocationBtn">Get current location <i class="bi bi-pin-map-fill"></i></button>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Create a game</button>
    </div>
</form>

<!-- Script to select the appropriate game type -->
<script>

</script>

{% endfor %}

{% endblock %}