{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h3>Sign Up</h3>
<form method = "POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email" placeholder="Enter Email">
  </div>
    <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" name = "firstName" placeholder="Enter First Name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Enter Password">
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="password2" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}